@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}



body {
	text-align: center;
	background-color: #89b3b3;
	box-sizing: border-box;
}
.wrapper {
	margin-right: 20px;
	margin-left: 20px;
}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 10%;
	float: left;
	line-height: 100px;
	position: left;	
}

	/*Hanabi Works*/
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
	width: 100%;
}
nav{
	background: #262626;
	
  }
  nav:after{
	content: '';
	clear: both;
	display: table;
  }
  nav .logo{
	float: left;
	color: white;
	font-size: 27px;
	font-weight: 600;
	line-height: 70px;
	padding-left: 60px;
  }
  nav ul{
	float: right;
	list-style: none;
	position: relative;
	line-height: 100px;
  }
  nav ul li{
	float: left;
	display: inline-block;
	background: #262626;
	margin: 0 5px;
  }
  nav ul li a{
	color: white;
	line-height: 70px;
	text-decoration: none;
	font-size: 18px;
	padding: 8px 15px;
  }
  nav ul li a:hover{
	color: cyan;
	border-radius: 5px;
	box-shadow:  0 0 5px #33ffff,
				 0 0 10px #66ffff;
  }
  nav ul ul li a:hover{
	box-shadow: none;
  }
  nav ul ul{
	position: absolute;
	top: 90px;
	border-top: 3px solid cyan;
	opacity: 0;
	visibility: hidden;
	transition: top .3s;
  }
  nav ul ul ul{
	border-top: none;
  }
  nav ul li:hover > ul{
	top: 70px;
	opacity: 1;
	visibility: visible;
  }
  nav ul ul li{
	position: relative;
	margin: 0px;
	width: 200px;
	float: none;
	display: list-item;
	border-bottom: 1px solid rgba(0,0,0,0.3);
  }
  nav ul ul li a{
	line-height: 50px;
  }
  nav ul ul ul li{
	position: relative;
	top: -60px;
	left: 150px;
  }
  .show,.icon,input{
	display: none;
  }
  .fa-plus{
	font-size: 15px;
	margin-left: 40px;
  }
  @media all and (max-width: 968px) {
	nav ul{
	  margin-right: 0px;
	  float: left;
	}
	nav .logo{
	  padding-left: 30px;
	  width: 100%;
	}
	.show + a, ul{
	  display: none;
	}
	nav ul li,nav ul ul li{
	  display: block;
	  width: 100%;
	}
	nav ul li a:hover{
	  box-shadow: none;
	}
	.show{
	  display: block;
	  color: white;
	  font-size: 18px;
	  padding: 0 20px;
	  line-height: 70px;
	  cursor: pointer;
	}
	.show:hover{
	  color: cyan;
	}
	.icon{
	  display: block;
	  color: white;
	  position: absolute;
	  top: 0;
	  right: 40px;
	  line-height: 70px;
	  cursor: pointer;
	  font-size: 25px;
	}
	nav ul ul{
	  top: 70px;
	  border-top: 0px;
	  float: none;
	  position: static;
	  display: none;
	  opacity: 1;
	  visibility: visible;
	}
	nav ul ul a{
	  padding-left: 40px;
	}
	nav ul ul ul a{
	  padding-left: 80px;
	}
	nav ul ul ul li{
	  position: static;
	}
	[id^=btn]:checked + ul{
	  display: block;
	}
	nav ul ul li{
	  border-bottom: 0px;
	}
	span.cancel:before{
	  content: '\f00d';
	}
  }
.banner-area {
	width: 100%;
	height: 1000px;
	position: relative;
	top: 50px;
	background-image: url(https://dg31sz3gwrwan.cloudfront.net/fanart/195231/632061-0-q80.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;
}
.content-area {
	width: 100%;
	position: relative;
	top: 40px;
	background: #ebebeb;
	height: 1px;
	font-size: 20px;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin-right: 200px;
	margin-left: 200px;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
	font-size: 20px;
	margin-right: 200px;
	margin-left: 200px;
	text-align: left;
}
.content-area strong {
		padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
	font-size: 20px;
}
.gallery {
	margin-right: 20px;
	margin-left: 20px;
}
.gallery img {
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
	transition: all 0.5s;
	cursor: pointer;
}
.gallery img:hover {
	-webkit-transform: scale(1.5);
    transform: scale(1.2);
}
.download {
	position: relative;
	padding: 10px 30px;
	align-items: center;
	min-height: 1vh;
	background: #000;
}
.download a {
	position: relative;
	padding: 10px 30px;
	margin: 0 15px;
	color: aqua;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	transition: 0.5s;
}
.download a:before {
	content: "";
	position: relative;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	transition: 0.5s;
}
download a:hover:before {
	width: 100%;
	height: 100%;
}
.download a:after {
	content: "";
	position: relative;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	transition: 0.5s;
}
.end {
	min-height: 3vh;
	min-width: none;
}
.info {

}