body{
    background-image: url("https://images7.alphacoders.com/778/thumb-1920-778267.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: left;
}

.container{
    margin: 0 auto;
    max-width: 800px;
    background-color: white;
    height: 100%;
    opacity: 1;
}

.intro{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

h1{
    padding-bottom: 30px;
    text-align: center;
}

.staff1 p{
    margin-left: 10%;
    font-size: 22px;
}
.staff1 img{
    display: table-cell;
    float: left;
    max-width: 158px;
    margin: 0 25px 0 5%;
    border-radius: 50%;
}

.staff1 li{
    margin-top: 15px;
    font-size: 20px;
    text-align: left;
    margin-left: 5%;
}

.staff2 p{
    text-align: right;
    margin-right: 10%;
    font-size: 22px;
}

.staff2 img{
    display: table-cell;
    float: right;
    max-width: 158px;
    margin: 0 25px 0 5%;
    border-radius: 50%;
}

.staff2 li{
    margin-top: 15px;
    font-size: 20px;
    text-align: right;
    margin-left: 5%;
}
hr.solid {
    border-top: 3px solid #bbb;
  }